
.bird {
/**/
width: 100px;
height: 30px;
position: absolute;
text-align: left;
display: none;
background: green;
vertical-align: middle;
font-size: 18px;
} 

/*Задний план*/
.bcontainer {
position: absolute;
width: 800px;
height: 400px;
background: white;
border: 8px solid green;	
padding: 20px;
display: none;
z-index: 1002;
}

/*Заголовок таблицы*/
#bcaption {
background:gray;

}

/*Границы*/
#bcaption td {
border-right: 2px solid green;
font-weight: bold;
text-align: center;	
}
#bcaption td {padding: 5px;}
#bcaption td:nth-child(1) { width: 50px; }		/*Идентификатор*/
#bcaption td:nth-child(2) { width: 227px; }		/*Имя*/
#bcaption td:nth-child(3) { width: 137px; }		/*Цена*/
#bcaption td:nth-child(4) { width: 131px; }		/*Кол-во*/
#bcaption td:nth-child(5) { width: 137px; }		/*Всего*/

/*Символы в таблице корзины*/
.bitem td {
color: black;
font-weight: bold;
font-size: 18px;
/*Цвет букв в таблице*/
padding: 5px;	
border-bottom: 1px solid green;	
border-right: 2px solid green;
}

.bitem td:nth-child(1) { width: 50px; }
.bitem td:nth-child(2) { width: 260px; }
.bitem td:nth-child(3) { width: 150px; text-align: center;} 
.bitem td:nth-child(4) { width: 150px; text-align: center;}
.bitem td:nth-child(5) { width: 150px; text-align: center;}

#bclose {
float: right;	
}

.bcontainer table {
width: 100%;	
}

/*Кнопка "Оформить заказ"*/
.bbutton {
color: black;
-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);	
padding: 5px;
font-size:16px;	
float: right;
}

#bsum {
padding-top: 10px;
float: right;
margin: 0 20px;	
font-size: 18px ;
font-weight: bold;
}

.popup {
    background: none repeat scroll 0 0 white;
    border: 1px solid green;
    left: 50%;
    margin-left: -265px;
    padding: 25px 20px;
    position: fixed;
    top: 50px;
    width: 550px;
    z-index: 2002;
    display: none;
}  

.popup h4	{
		margin-bottom: 4px;
	}
	.popup form	{
		padding: 30px 0 0 0;
	}

	/*Окна ввода данных*/
	.popup input[type="text"]{
		text-align: center;
		font-style: italic;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid green;
    	display: inline-block;
    	height: 40px;
    	line-height: 40px;
    	padding: 0;
    	vertical-align: middle;
	}
	
	
	.popup .alignCenter	{
		margin-top: 30px;
	}

	/*Окно ввода адреса*/
	.popup textarea {
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    border: 1px solid green;
    
	}

	/*Количество товара*/
.basket_num {
	padding: 4px;
	background: white;	
	}

.basket_num_buttons {
	width: 20px; 
	height: 20px;
	border: 1px solid gray;
	margin: 0 5px;
	display: inline-block;
	/*Цвет "-" "+"*/	
	color: black;
	/*Цвет заднего фона "-" "+"*/
	background: white;
	text-align: center;
	cursor: pointer;	
	}